button{ cursor:pointer;}

.DatabaseUpdateInfo{
  margin-left: 3vh;
  font-weight: lighter;
}

.ExportButton{
  padding:1vh;
  margin-left: 2vh;
}
.ExportButton button{
  background-color: rgb(20, 104, 90);
  height: 6vh;
  width: 16vh;
  font-size: larger;
  color: #ffffff;
  border-radius: 0.5vh;
  border: 0vh;
  transition: all 0.3s ease; /* Animáció simításához */
}


.ExportButton button:hover{
  background-color: rgba(20, 104, 90, 0.671);
}

.DateFilter{
  font-weight: bolder;
  padding:2vh;
}
.DateFilter input{
  font-weight: bold;
  background-color: rgba(0, 44, 65, 0.582);
  height:3vh;
  color: #ffffff;
  margin-left: 1vh;
  margin-bottom: 1vh;

  border: 0vh;
  transition: all 0.3s ease; /* Animáció simításához */
}

.DateFilter input:hover{
  background-color: rgb(0, 44, 65);
}

.DateFilter button{
  margin-left: 1vh;
  background-color: rgb(0, 44, 65);
  height: 4.5vh;
  width: 22vh;;
  color: #ffffff;
  
  border-radius: 0.5vh;
  border: 0vh;
  transition: all 0.3s ease; /* Animáció simításához */
}
.DateFilter button:hover{
  background-color: rgba(0, 44, 65, 0.603);

}

 .FilterButtons{
 font-weight: bolder;
 padding:2vh;
}
 .FilterButtons button{
  background-color: rgba(0, 44, 65, 0.603);
  height: 4vh;
  width: 10vh;;
  color: #ffffff;
  margin-bottom: 2vh;
  margin-left: 1vh;
  border-radius: 0.5vh;
  border: 0vh;
  transition: all 0.3s ease; /* Animáció simításához */
 
}
.FilterButtons button:disabled,
.FilterButtons button[disabled]{
  height: 4.5vh;
  width: 11vh;;
  background-color: rgb(0, 44, 65);
}

.FilterButtons button:hover{
height: 4.5vh;
width: 11vh;;
background-color: rgb(0, 44, 65);
}

th{
   cursor:pointer;
   width:30vh
}
table{
   text-align: center;
}


.markedColoumn{
  color:  #fa9d9d;
}
th:hover{
   color:  #ff4949;
 }

table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 table td, table th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 
 table tr:nth-child(even){background-color: #f2f2f2;}

 table tr:hover {background-color: rgb(213, 229, 233);}
 
 table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #777777;
   color: white;
 }


