button{ cursor:pointer;}
.LoginForm{
   display: absolute;
   margin: auto;
   align-items: center;
   text-align: center;
   width: 100%;
   height:87vh;
   background-color: white;
}

.LoginInputs{
    align-items: center;
    margin-top: 300px;
    display: relative;
    margin: auto;
    text-align: center;
    background-color: white;
 }

input{
height: 5vh;
}
/*
th{
   cursor:pointer;
   width:30vh
}
table{
   text-align: center;
}

table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 table td, table th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 
 table tr:nth-child(even){background-color: #f2f2f2;}

 table tr:hover {background-color: rgb(213, 229, 233);}
 
 table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #777777;
   color: white;
 }
*/
 .Low{
   background-color: rgba(69, 131, 85, 0.788);
   cursor:pointer;
}
.Medium{
   background-color: rgba(177, 170, 76, 0.774);
   cursor:pointer;
}
 .High{
   background-color: #864040bd;
   cursor:pointer;
}
.High-DC{
   background-color: #501515be;
   color: white;
   cursor:pointer;
}
.cancelRiskChanger{
   background-color: #ff0000bd;
}

.modal {
  

   position: fixed; /* Abszolút pozíció */
   z-index: 1; /* Legfelül */
   left: 0;
   top: 0;
   width: 100%; /* Teljes szélesség */
   height: 100%; /* Teljes magasság */
   overflow: auto; /* Görgetés engedélyezése, ha szükséges */
   background-color: rgba(0, 0, 0, 0.4); /* Fekete háttér átlátszósággal */
 }
 
 /* Modális tartalom */
 .modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* Középen pozícionálás */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   max-width: 600px; /* Max. szélesség */
 }
 
 /* Modális gomb stílus */
 .riskSelectorButton{
   cursor: pointer;
   padding: 8px 16px;
   text-align: center;
   background-color: #f2f2f2;
   border: 1px solid #888;
 }
 
 /* Modális gomb stílus: hover */
 .riskSelectorButton:hover {
   background-color: #ddd;
 }

 .cancelRiskChanger {  
    cursor: pointer;
   padding: 8px 16px;
   text-align: center;
   background-color: #e49595;
   border: 1px solid #888;
 }
 .cancelRiskChanger:hover {
   background-color: #da6565;
 }

 .modal2 {
  
   position: fixed; /* Abszolút pozíció */
   z-index: 1; /* Legfelül */
   left: 0;
   top: 0;
   width: 100%; /* Teljes szélesség */
   height: 100%; /* Teljes magasság */
   overflow: auto; /* Görgetés engedélyezése, ha szükséges */
   background-color: rgba(0, 0, 0, 0.4); /* Fekete háttér átlátszósággal */
 }
 
 /* Modális tartalom */
 .modal2-content {
   cursor: pointer;
   background-color: #fefefe;
   margin: 15% auto; /* Középen pozícionálás */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   max-width: 600px; /* Max. szélesség */
 }

 .cancelButton:hover {
   background-color: #da6565;
 }

 .yesButton:hover {
   background-color: #7abd83;
 }