button{ cursor:pointer;}

.RiskSettingDashboard{
  padding:2vh;
  font-size: 1.8vh;
}
.RiskUpdaterButton button{

  margin-left: 1vh;
   background-color: rgb(20, 104, 90);
   height: 4vh;
   width: 24vh;
   font-size: 1.7vh;
   color: #ffffff;
   border-radius: 0.5vh;
   border: 0vh;
   transition: all 0.3s ease; /* Animáció simításához */
 }
 
 
 .RiskUpdaterButton button:hover{
   background-color: rgba(20, 104, 90, 0.671);
 }

 .Low{
  color:white;
  background-color: rgb(20, 104, 90);
   cursor:pointer;
   transition: all 0.3s ease; /* Animáció simításához */
}
.Medium{
  color:#ffffff;
  background-color: rgba(170, 129, 40, 0.87);   
   cursor:pointer;
   transition: all 0.3s ease; /* Animáció simításához */
}
 .High{
  color:#ffffff;
  background-color: rgb(87, 0, 0);   
   cursor:pointer;
   transition: all 0.3s ease; /* Animáció simításához */
}
.High-DC{
  color:#ffffff;
  background-color: rgb(26, 0, 0);   
   cursor:pointer;
   transition: all 0.3s ease; /* Animáció simításához */
}
.Low:hover{
  background-color: rgba(20, 104, 90, 0.527);
}
.Medium:hover{

  background-color: rgba(170, 129, 40, 0.397);   

}
.High:hover{

  background-color: rgba(87, 0, 0, 0.452);   

}
.High-DC:hover{

  background-color: rgba(26, 0, 0, 0.425);   

}
 /* Modális gomb stílus */
 .riskSelectorButton{
   cursor: pointer;
   padding: 8px 16px;
   text-align: center;
   background-color: #f2f2f2;
   border: 1px solid #888;
   transition: all 0.3s ease; /* Animáció simításához */
 }
 
 /* Modális gomb stílus: hover */
 .riskSelectorButton:hover {
  background-color: rgba(0, 44, 65, 0.144);
 }

 .modal2 {
  
   position: fixed; /* Abszolút pozíció */
   z-index: 1; /* Legfelül */
   left: 0;
   top: 0;
   width: 100%; /* Teljes szélesség */
   height: 100%; /* Teljes magasság */
   overflow: auto; /* Görgetés engedélyezése, ha szükséges */
   background-color: rgba(0, 0, 0, 0.4); /* Fekete háttér átlátszósággal */
 }
 
 /* Modális tartalom */
 .modal2-content {

   background-color: #fefefe;
   margin: 15% auto; /* Középen pozícionálás */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   max-width: 600px; /* Max. szélesség */
 }


 .yesButton {
  cursor: pointer;
  color:white;
  background-color: rgba(20, 104, 90, 0.671);
  transition: all 0.3s ease; /* Animáció simításához */
}
 .yesButton:hover {
  background-color: rgb(20, 104, 90);
 }

 .cancelButton {
  cursor: pointer;
  color:white;
  background-color: rgba(65, 0, 0, 0.603);
  transition: all 0.3s ease; /* Animáció simításához */
}

 .cancelButton:hover {
  background-color: rgb(116, 1, 1);   
 }