body, html {

  margin: 0px;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{

  height: 100%;
}
.MainMenuButtons{

  display: grid;
  text-align: center;
  padding: 10vh;

}

.MainMenuButtons button{
  height:10vh;
  width: 40vh;
  background-color: rgb(20, 54, 104);
  color:white;
  font-size: larger;
  border:none;

}

.MainMenuButtons button:hover{

  background-color: rgb(60, 88, 128);

}