
/*
input{
height: 10vh;
}

th{
   cursor:pointer;
   width:30vh
}
table{
   text-align: center;
}


.markedColoumn{
  color:  #fa9d9d;
}
th:hover{
   color:  #ff4949;
 }

table {
   font-family: Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 table td, table th {
   border: 1px solid #ddd;
   padding: 8px;
 }
 
 
 table tr:nth-child(even){background-color: #f2f2f2;}

 table tr:hover {background-color: rgb(213, 229, 233);}
 
 table th {
   padding-top: 12px;
   padding-bottom: 12px;
   text-align: left;
   background-color: #777777;
   color: white;
 }


 .modal {
  
   position: fixed; 
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgba(0, 0, 0, 0.4); 
 }
 

 .modal-content {
   background-color: #fefefe;
   margin: 15% auto; 
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   max-width: 600px; 
 }
 

 .riskSelectorButton{
   cursor: pointer;
   padding: 8px 16px;
   text-align: center;
   background-color: #f2f2f2;
   border: 1px solid #888;
 }
 

 .riskSelectorButton:hover {
   background-color: #ddd;
 }
 */